<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AttendanceRegister.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <AttendanceRegister.My.MySettings>
            <setting name="SaveBody" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody1" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody2" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody3" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody4" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody5" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody6" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody7" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody8" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody9" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody10" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody11" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody12" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody13" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody14" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody15" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody16" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody17" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody18" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody19" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody20" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody21" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody22" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody23" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody24" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody25" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody26" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody27" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody28" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody29" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody30" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody31" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody32" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody33" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody34" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody35" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody36" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody37" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody38" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody39" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody40" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody41" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody42" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody43" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody44" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody45" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody46" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody47" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody48" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody49" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody50" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody51" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody52" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody53" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody54" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody55" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody56" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody57" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody58" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody59" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody60" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody61" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody62" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody63" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody64" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody65" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody66" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody67" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody68" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody69" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody70" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody71" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody72" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody73" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody74" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody75" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody76" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody77" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody78" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody79" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody80" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody81" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody82" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody83" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody84" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody85" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody86" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody87" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody88" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody89" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody90" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody91" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody92" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody93" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody94" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody95" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody96" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody97" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody98" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody99" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody100" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody101" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody102" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody103" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody104" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody105" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody106" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody107" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody108" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody109" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody110" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody111" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody112" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody113" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody114" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody115" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody116" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody117" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody118" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody119" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody120" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody121" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody122" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody123" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody124" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody125" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody126" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody127" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody128" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody129" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody130" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody131" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody132" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody133" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody134" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody135" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody136" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody137" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody138" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody139" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody140" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody141" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody142" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody143" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody144" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody145" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody146" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody147" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody148" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody149" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody150" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody152" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody153" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody154" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody160" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody151" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody167" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody174" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody172" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody165" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody158" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody168" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody161" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody170" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody163" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody156" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody173" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody166" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody159" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody171" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody164" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBody157" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBodyGR" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBodyClass" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBodyTr" serializeAs="String">
                <value />
            </setting>
            <setting name="pass" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="adminpass" serializeAs="String">
                <value>admin@23</value>
            </setting>
        </AttendanceRegister.My.MySettings>
    </userSettings>
</configuration>